<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns:border-radius="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Sentiment Analysis</title>

    <!-- Fontfaces CSS-->
    <link href="../static/css/font-face.css" rel="stylesheet" media="all">
    <link href="../static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="../static/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="../static/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="../static/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="../static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../static/css/theme.css" rel="stylesheet" media="all">

</head>
<body class="animsition">
    <div class="page-wrapper">
        <!-- HEADER DESKTOP-->
        <header class="header-desktop3 d-none d-lg-block">
            <div class="section__content section__content--p35">
                <div class="header3-wrap">
                    <div class="header__logo">
                        <a href="/front">
                            <h1 style="color: #afd9ee;">DINE BRAND</h1>
                        </a>
                    </div>
                    <div class="header__navbar">
                        <ul class="list-unstyled">
                            <li class="has-sub">
                                <a class="nav-link" href="/file">
                                    <span class="bot-line"> </span>File Analysis
                                </a>
                            </li>
                            <li>
                                <a href="/overview">
                                    <span class="bot-line"></span>Overview</a>
                            </li>
                            <li>
                                <a href="/specific">
                                    <span class="bot-line"></span>Specific View</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </header>
   <section class="au-breadcrumb2">
<div class="container">
<div class="row">
<div class="col-md-12">
<div class="au-breadcrumb-content">
<div class="au-breadcrumb-left">
        <br> <span class="au-breadcrumb-span font-weight-bold mdi-format-font-size-increase text-dark">You are here:</span>
                            <ul class="list-unstyled list-inline au-breadcrumb__list">
                                <li class="list-inline-item active text-dark">
                                    <a href="/front" class="text-dark font-weight-bold">Home</a>
                                </li>
                                <li class="list-inline-item seprate">
                                    <span class="text-dark font-weight-bold">/</span>
                                </li>
                                <li class="list-inline-item text-dark font-weight-bold">File Analysis</li>
                             </ul>
                    </div>
</div>
</div>
</div>
</div>
</section>
    <div class="col-md-12">
    <h1 class="title-4" style ="color: rgb(126,23,169);">View The Dataset !
    </h1>
        <div class="fa-hover col-lg-3 col-md-6" style="padding-left: 1200px;">
            <form action="/download" method="Post">
                <button>
            <i class="fa fa-download" style="color: rgb(126,23,169);"></i>
                    </button>
            </form>
        </div>
    <hr class="line-seprate">
    </div>
    </br>
        </br>
        <div class="container">
            <div class="row">
                <div class="au-card col-md-3">
                    <label class="title-5 m-b-25 text-dark"> Filter With State Name</label>
                    <form action="/statetable" method="post" class="form-horizontal">
                    <label for="input-small" class=" form-control-label">State Name</label>
                     <input type="text" id="input-small" name="state" class="input-sm form-control-sm form-control">
                    <button type="submit" class="btn float-right">
                    <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    </form>
                 </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="au-card col-md-3">
                 <label class="title-5 m-b-25 text-dark"> Filter With City Name</label>
                    <form action="/citytable" method="post" class="form-horizontal">
                    <label for="input-small" class=" form-control-label">City Name</label>
                     <input type="text" id="input-small" name="city" class="input-sm form-control-sm form-control">
                    <button type="submit" class="btn float-right">
                    <i class="fa fa-dot-circle-o"></i> Submit
                    </button>
                    </form>
            </div>
                &nbsp;&nbsp;&nbsp;&nbsp;
                <div class="au-card col-md-4">
                    <label class="title-5 m-b-25 text-dark"> Filter With Date</label>
                    <form action="/datetable" method="post" class="form-horizontal">
                        <label for="input-small" class=" form-control-label">Starting Date</label>&nbsp;&nbsp;
                        <select name="startvalue" style="font-size: 15px;">
                          <option value="choose" >choose</option>
                          <option value="07/22/21 ">07/22/21 </option>
                          <option value="07/23/21">07/23/21</option>
                          <option value="07/24/21">07/24/21</option>
                          <option value="07/25/21">07/25/21</option>
                          <option value="07/26/21">07/26/21</option>
                          <option value="07/27/21">07/27/21</option>
                          <option value="07/28/21 ">07/28/21 </option>
                        </select>
                        </br>
                        </br>
                        <label for="input-small" class=" form-control-label">Ending Date</label>&nbsp;&nbsp;
                        <select name="endvalue" style="font-size: 15px;">
                          <option value="choose" >choose</option>
                          <option value="07/22/21 ">07/22/21 </option>
                          <option value="07/23/21">07/23/21</option>
                          <option value="07/24/21">07/24/21</option>
                          <option value="07/25/21">07/25/21</option>
                          <option value="07/26/21">07/26/21</option>
                          <option value="07/27/21">07/27/21</option>
                          <option value="07/28/21 ">07/28/21 </option>
                        </select>

                        <button type="submit" class="btn float-lg-right">
                            <i class="fa fa-dot-circle-o"></i> Submit
                        </button>
                    </form>

                </div>
            </div>
        </div>
        </br>
        </br>

        {% if result %}
                <div class="filters m-b-45">
                <div class="table-responsive table--no-card m-b-40">
                        <table class="table table-borderless table-striped table-earning">
                        <thead>
                        <tr>
                            {% for i in column_names %}
                                <th> {{i}}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                <tbody>
                    {% for result1 in result %}

                            <tr>
                              {% for col,res  in zip(column_names, result1) %}
                              <td>{{res}}</td>

                          {% endfor %}
                          </tr>
                        {% endfor %}
                </tbody>
            </table>
            </div>

        </div>
        {% endif %}
    </div>



<!-- Jquery JS-->
    <script src="../static/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="../static/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="../static/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="../static/vendor/slick/slick.min.js">
    </script>
    <script src="../static/vendor/wow/wow.min.js"></script>
    <script src="../static/vendor/animsition/animsition.min.js"></script>
    <script src="../static/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
    </script>
    <script src="../static/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="../static/vendor/counter-up/jquery.counterup.min.js">
    </script>
    <script src="../static/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="../static/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="../static/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="../static/vendor/select2/select2.min.js">
    </script>

    <!-- Main JS-->
    <script src="../static/js/main.js"></script>
    </body>
</html>