<!DOCTYPE html>
<html lang="en" xmlns:background-color="http://www.w3.org/1999/xhtml">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Sentiment Analysis</title>

    <!-- Fontfaces CSS-->
    <link href="../static/css/font-face.css" rel="stylesheet" media="all">
    <link href="../static/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="../static/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="../static/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/wow/animate.css" rel="stylesheet" media="all">
    <link href="../static/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/slick/slick.css" rel="stylesheet" media="all">
    <link href="../static/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../static/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="../static/css/theme.css" rel="stylesheet" media="all">

</head>
<body style="background-color: rgb(126,23,169)">
    <div class="align-content-center" style="padding-top: 30px; padding-left: 50px;" >
        <h1 style="color: #afd9ee;">DINE BRAND</h1>
    </div>
    <img src="../static/images/group.png"  style="float:left;width:500px;height:500px; padding-top: 100px; padding-left: 10px"/>

    <div class="align-content-center" style="padding-top: 150px; padding-left: 600px;" >
    <h1 style="color: #afd9ee">Sentiment Analysis For Dine Brand</h1>
        </br>
        <h6 style="color: #afd9ee; font-family: 'Arial' ;font-size: 15px;padding-left: 60px;"> Discovering the opinions of customers about the
                services or products</h6>
        <form action="/first" method="post">
            <div style="padding-top: 100px; padding-left: 150px;">
        <button style=" background-color:#4b217e ; padding: 10px; border: 1px solid #afd9ee; border-radius: 12px; font-size: 30px; font-family: 'Arial'; color: #afd9ee; align-content: center; ">Get Started</button>
          </div>  </form>
    </div>
<style>
    button:active {
  background-color: #6f42c1;
  box-shadow: 0 5px rgba(111, 66, 193, 0.2);
  transform: translateY(4px);
}
</style>
    </body>
</html>
